/* Custom Font */
@font-face {
    font-family: 'Open Sans';
    src: url('assets/Open_Sans/OpenSans-Italic-VariableFont_wdth,wght.ttf'), url('assets/Open_Sans/OpenSans-Italic-VariableFont_wdth,wght.ttf');
    font-weight: 1000;
    font-style: normal;
}

// setting basic element properties
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

html,
body{
    width: 100%;
    height: 100%;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

button,
input {
    border: none;
    outline: none;
}