@use 'formatting';

// theme colors
$lightcolor: ivory;
$darkcolor: rgb(53, 7, 7);

// setting theme
@mixin theme($dark: true) {
    @if($dark) {
        color: $lightcolor;
        background-color: $darkcolor;
        box-shadow: 2px 2px 2px $lightcolor;
    }
    @else {
        color: $darkcolor;
        background-color: $lightcolor;
        box-shadow: 2px 2px 2px $darkcolor;
    }
    transition: all .5s ease;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 8fr;
    grid-template-columns: 1fr 2fr;
    @include theme;
}

.header {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    display: grid;
    place-items: center;
    font-size: 40px;
    grid-template-columns: 1fr 5fr 1fr;

    #title {
        grid-column: 2 / 3;
    }
    #clearLocal {
        height: 60%;
        width: 90%;
        margin: 10px;
        background-color: black;
        color: white;
        grid-column: 3 / 4;
        border: 2px solid black;
    
        &:hover {
            cursor: pointer;
            background-color: $lightcolor;
            color: black;
            transition: all .5s ease;
            box-shadow: 2px 2px 2px black;
        }
    }    
}


.navbar {
    background-color: rgb(75, 68, 68);
    box-shadow: 10px 10px 10px 10px black;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 4fr 1fr;
    border: 2px solid ivory;
    border-left: none;
    text-align: center;

    button {
        @include theme;
        background-color: rgb(75, 68, 68);
        font-size: large;
        &:hover {
            @include theme(false);
            cursor: pointer;
        }
    }

    #addtask {
        grid-row: -1 / -2;
        border: 2px solid $lightcolor;
        background-color: $darkcolor;

        &:hover {
            background-color: ivory;
            border: 2px solid black;
            box-shadow: 2px 2px 2px black;
        }
    }

    
    .ptab {
        .ptabheader {
            margin-top: 30px;
            display: grid;
            grid-template-columns: 1fr 4fr 1fr;
            margin-bottom: 10px;
            place-items: center;

            h2 {
                grid-column: 2 / 3;
                grid-row: 1 / 2;
            }

            img {
                grid-column: 3 / 4;
                grid-row: 1 / 2;
                height: 60%;

                &:hover {
                    cursor: pointer;
                }
            }
        }
        .indiv {
            padding: 10px;
            display: grid;
            grid-template-columns: 1fr 6fr 1fr;
            place-items: center;

            input {
                    text-align: center;
                    height: 35px;
                    border-radius: 2px;
                    grid-column: 2 / 3;
                    @include theme(false);
            }
            img {
                grid-column: 3 / 4;
                height: 25px
            }
        }
        .pcollection {
            display: flex;
            flex-direction: column;
            justify-content: stretch;
            text-align: center;

            .pbutt {
                display: grid;
                place-items: center;
                grid-template-columns: 1fr 3fr 1fr;
                height: 60px;
                width: 100%;
                .pdel {
                    height: 20px;
                    grid-column: 1 / 2;
                }
                h4 {
                    grid-column: 2 / 3;
                }
                .popen {
                    height: 20px;
                    grid-column: 3 / 4;
                }
            }
        }
    }
}

// Main Formatting
.main {
    @include theme(false);
    height: 100%;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    text-align: center;
    align-items: center;
    
    h2 {
        margin-top: 15px;
    }

    #tiles {
        max-height: 830px;
        width: 90%;
        height: 200%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        gap: 10px;
        overflow-y: scroll;
        transition: all .5s ease;

        &::-webkit-scrollbar {
            display: none;
          }

        .tile {
            @include theme(false);
            background-color: whitesmoke;
            width: 100%;
            max-width: 900px;
            height: 100%;
            max-height: 100px;
            padding: 5px;
            display: flex;
            flex-direction: column;
            
            .tiletop {
                height: 90px;
                display: grid;
                grid-template-columns: 2fr 3fr 3fr 1fr;
                align-items: center;

                & div:first-child {
                    margin-left: 10px;
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    grid-row: 1 / 2;

                    img {
                        height: 20px;
                        width: 20px;
                        margin: 5px;
                    }
                    & img:first-child {
                        height: 35px;
                        width: 35px;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
                .edit {
                    height: 30%;
                    grid-column: 4 / 5;
                    &:hover {
                        cursor: pointer;
                    }
                }
                
            }
            & p:last-child {
                flex: auto;
                width: 100%;
                max-width: 600px;
                word-wrap: break-word;
                justify-self: center;
                align-self: center;
                transform: all 1s ease;
            }


            
        }
        .expanded {
            max-height: 300px;
            transition: all .5s ease;
        }
        
    }
}

// Form Formatting
.formoverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(black, .7);
    display: grid;
    place-content: center;
    font-size: 20px;
    #popform {
        @include theme;
        padding: 10px;
        min-height: 500px;
        min-width: 350px;
        width: 70%;
        height: 50%;

        input {
            &:hover {
                cursor: pointer;
            }
        }

        div {
            display: flex;
            flex-direction: column;
        }

        .priorities {
            font-size: 14px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
        }

        button {
            width: 100%;
            height: 50px;

            &:hover {
                background-color: ivory;
                cursor: pointer;
            }
        }
    }

}